<div class="container">
  <nav class="navbar navbar-inverse">
    <p class="navbar-title">Tambah karyawan <%= @resto_name.name %></p>
  </nav>
</div><br>
<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>