<div class="container">
    <footer class="footer">
        <small>
            Copyright © <a href="enter in a link here">Sagoo Restaurant always serve before you</a>
            by <a href="enter in a link here">Seth Productions</a>
        </small>
    </footer>
</div>