<div class="sidenav">
  
  <a class="list">
      <div class="dropdown">
            <i class="fa fa-list" aria-hidden="true"></i> Master<i class="fa fa-plus pull-right" aria-hidden="true"></i>
      </div>
      <ul class="submenu hide">
            <li>Karyawan</li>
            <li>Golongan</li>
            <li>Posisi</li>
      </ul>
  </a>
</div>

<script>
    window.onload=function(){
        $('.dropdown').click(function(){
        $(this).siblings(".submenu").toggleClass('hide');
        });
    }
</script>